= form.error_messages
%p.row
  = form.label :title, t("activerecord.attributes.post.title")
  = form.text_field :title, :class => 'text'
%p.row
  = form.label :body, t("activerecord.attributes.post.body")
  = form.text_area :body
%p.row
  = form.label :category_id, t("activerecord.attributes.post.category_id")
  = form.select :category_id, Category.all.collect{|c| [c.name, c.id]}