%li{:id => dom_id(post)}
  %h2= link_to post.title, post
  %p.info
    = "Under #{post.category.name}"
    = post.updated_at.strftime("on %m/%d/%Y at %I:%M%p")
  %p= truncate post.body, :length => 200