%h2=h @post.title
%p.info
  التصنيف:
  = link_to @post.category.name, category_path(:id => @post.category, :locale => I18n.locale)
  = @post.updated_at.strftime("في %m/%d/%Y at %I:%M%p")
  = link_to t(:edit), edit_post_path(:id => @post, :locale => I18n.locale)
%p=h @post.body

%h3= t(:comments)
%ul#comments
  = render :partial => @post.comments
  = no_comments(@post)

= render :partial => 'comments/new.html.haml'