%h2=h @post.title
%p.info
  Under
  = link_to @post.category.name, @post.category
  = @post.updated_at.strftime("on %m/%d/%Y at %I:%M%p")
  = link_to 'Edit', edit_post_path(@post)
%p=h @post.body

%h3 Comments
%ul#comments
  = render :partial => @post.comments
  = no_comments(@post)

= render :partial => 'comments/new.html.haml'