!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title SimpleBlog
    = stylesheet_link_tag 'screen', :media => 'screen'
    = javascript_include_tag :defaults
    = yield :head

  %body
    #header
      %h1= link_to 'SimpleBlog', root_path
    #container
      #mainbar
        = yield
      #sidebar        
        .box
          %h3 Categories
          %ul#categories= render :partial => Category.all
        = yield :sidebar
    #footer
      SimpleBlog - A demo simple blog for tutorials on
      = link_to "rida.me", "http://rida.me"