!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= t :title
    = stylesheet_link_tag I18n.locale.to_s, :media => 'screen'
    = javascript_include_tag :defaults
    = yield :head

  %body
    #header
      = locale_link
      %h1= link_to t(:title), root_path
    #container
      #mainbar
        = yield
      #sidebar        
        .box
          %h3=t :categories
          %ul#categories= render :partial => Category.all
        = yield :sidebar
    #footer
      =t :title
      \-
      =t :description
      = link_to "rida.me", "http://rida.me"